@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  font-family: 'Open Sans', sans-serif; }

#navbar {
  height: 100%;
  width: 300px;
  min-width: 290px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -45px;
  border-right: 4px solid #6d6b6b;
  background-color: #2F2F2F; }
  #navbar .JSD {
    font-size: 1.6rem;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white; }
    #navbar .JSD span {
      color: orange; }
  #navbar a {
    list-style: none;
    text-decoration: none;
    color: #fff; }
    #navbar a li {
      padding: 10px 3px 10px 15px;
      border-top: 1px solid #6d6b6b; }

#main-doc {
  margin-left: 300px;
  padding: 20px 0px;
  margin-bottom: 150px; }
  #main-doc code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    border-radius: 5px; }
  #main-doc header {
    font-size: 1.4rem;
    padding: 20px;
    font-weight: bold; }

@media (max-width: 800px) {
  #navbar {
    max-height: 400px;
    width: 100%;
    margin: 0 auto; }
  #navbar ul a #declaring_variables,
  #navbar ul a #variable_scope,
  #navbar ul a #global_variables,
  #navbar ul a #constants,
  #navbar ul a #data_types,
  #navbar ul a #if_else_statement,
  #navbar ul a #while_statement,
  #navbar ul a #function_declarations,
  #navbar ul a #reference {
    display: none; } }
