@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body {
  font-family: 'Open Sans', sans-serif; }

#navbar {
  height: 100%;
  width: 300px;
  min-width: 290px;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: -45px;
  border-right: 4px solid #6d6b6b;
  background-color: #2F2F2F; }
  #navbar .JSD {
    font-size: 1.6rem;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white; }
    #navbar .JSD span {
      color: orange; }
  #navbar a {
    list-style: none;
    text-decoration: none;
    color: #fff; }
    #navbar a li {
      padding: 10px 3px 10px 15px;
      border-top: 1px solid #6d6b6b; }

#main-doc {
  margin-left: 300px;
  padding: 20px 0px;
  margin-bottom: 150px; }
  #main-doc article {
    padding: 10px; }
  #main-doc code {
    display: block;
    text-align: left;
    white-space: pre;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px; }
  #main-doc header {
    font-size: 1.5rem;
    font-weight: bold; }

@media (max-width: 800px) {
  body {
    margin: 0;
    overflow-x: hidden; }
  #navbar-query {
    width: 100%;
    background-color: #2F2F2F;
    min-height: 60px; }
    #navbar-query #JSD-query {
      width: 100vw;
      text-align: center;
      line-height: 4rem;
      font-size: 1.7rem;
      color: #fff; }
      #navbar-query #JSD-query span {
        color: orange; }
  #navbar {
    max-height: 200px;
    width: 100%;
    margin: 60px auto 0px;
    z-index: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute; }
    #navbar .JSD {
      display: none; }
    #navbar ul {
      padding: 0; }
    #navbar li {
      border: 1px solid #6d6b6b; }
  #main-doc {
    width: 100%;
    margin: 230px auto 0px;
    text-align: center; } }
