//Navbar variables
$border-color: rgb(109, 107, 107);
$navbar-color: #2F2F2F;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html , body {
    font-family: 'Open Sans', sans-serif;
}

//NAVBAR
#navbar {
    height: 100%;
    width: 300px;
    min-width: 290px;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -45px;
    border-right: 4px solid $border-color;
    background-color: $navbar-color;

    .JSD {
        font-size: 1.6rem;
        padding: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        color: white;

        span {
            color: orange;
        }
    }

    a {
        list-style: none;
        text-decoration: none;
        color: #fff;

        li {
            padding: 10px 3px 10px 15px;
            border-top: 1px solid $border-color;
        }
    }
}

//MAIN
#main-doc {
    margin-left: 300px;
    padding: 20px 0px;
    margin-bottom: 150px;

    article {
        padding: 10px;
    }

    code {
        display: block;
        text-align: left;
        white-space: pre;
        position: relative;
        word-break: normal;
        word-wrap: normal;
        line-height: 2;
        background-color: #f7f7f7;
        padding: 15px;
        margin: 10px;
        border-radius: 5px;
      }

    header {
        font-size: 1.5rem;
        font-weight: bold;
    } 
}

//Query
@media (max-width: 800px) {

    body {
        margin: 0;
        overflow-x: hidden;
    }

    #navbar-query {
        width: 100%;
        background-color: $navbar-color;
        min-height: 60px;

        #JSD-query {
            width: 100vw;
            text-align: center;
            line-height: 4rem;
            font-size: 1.7rem;
            color: #fff;

            span {
                color: orange;
            }
        }
    }

    #navbar {
        max-height: 200px;
        width: 100%;
        margin: 60px auto 0px;
        z-index: 1;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;

        .JSD {
            display: none;
        }

        ul {
            padding: 0;
        }

        li {
            border: 1px solid $border-color;
        }

    }

    #main-doc {
        width: 100%;
        margin: 230px auto 0px;
        text-align: center;
    }
}